@font-face {
    font-family: 'Nexa-Black';
    src: url(../Fonts/NexaBlack.otf);
}

@font-face {
    font-family: 'Nexa-Regular';
    src: url(../Fonts/NexaRegular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nexa-Regular', serif;
}

.h-80 {
    height: 80%;
}

.h-20 {
    height: 20%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nexa-Black', serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

.font-weight-regular {
    font-family: 'Nexa-regular', serif;
}

.row {
    margin: 0;
}

.bg_orange {
    background: #ec7623;
}

.bg_orange_dos {
    background: #eb5d3e;
}

.bg_red {
    background: #e43c2f;
}

.bg_gray {
    background: #d5cdcd;
}

.bg_gray_dos {
    background: #53535a;
}

.bg_yellow {
    background: #ffd100;
}

.text_orange {
    color: #ec7623;
}

.text_gray {
    color: #53535a;
}

.text_black {
    font-family: 'Nexa-Black', serif;
}

.text_yellow {
    color: #ffd100;
}

/* HEADER */
[data-icon="hamburguer-bar"] {
    height: 3px;
    width: 40px;
    background: #ffd100;
    margin: 10px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 0.5s;
    z-index: 1050;
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(1) {
    animation-name: hamburguer-one-bar-one;
    animation-duration: 0.7s;
    transform: translate(0px, 13px) rotate(45deg);
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(2) {
    animation-name: hamburguer-one-bar-two;
    animation-duration: 0.7s;
    opacity: 0;
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(3) {
    animation-name: hamburguer-one-bar-three;
    animation-duration: 0.7s;
    transform: translate(0px, -13px) rotate(-45deg);
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

@keyframes hamburguer-one-bar-one {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 12px);
    }

    100% {
        transform: translate(0px, 12px) rotate(45deg);
    }
}

@keyframes hamburguer-one-bar-two {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hamburguer-one-bar-three {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -12px);
    }

    100% {
        transform: translate(0px, -12px) rotate(-45deg);
    }
}

.ir_arriba {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #ffd100;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    z-index: 1060;
    display: none;
}

.ir_arriba img {
    width: 25px;
    height: 25px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .bt_donar {
    display: block;
    margin-left: auto;
    color: white;
    font-family: 'Nexa-Black';
    margin-right: 15px;
}

.navbar-toggle {
    z-index: 1040;
}

.nav-link {
    font-size: 24px;
    font-family: 'Nexa-Black';
}

.nav-link:hover {
    color: #ffce01 !important;
}

.collapse {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(228, 60, 47, .7);
    top: 0;
    left: 0;
    z-index: 1030;
}

.redes img {
    width: 45px;
    margin: 8px;
}

/* Home */
.home {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(../images/Bg_1.png);
    background-size: cover;
    background-position: 0 0;
    color: #fff;
}

.home h2 {
    font-size: 40px;
}

.home h2 span {
    font-family: 'Nexa-Black';
    font-size: 90px;
    line-height: 80px;
    display: block;
}

/* About */
.about div.bg_orange {
    height: 300px;
}

.about .bg_orange p {
    font-size: 20px;
}

.about .box_about {
    position: relative;
    top: -100px;
    z-index: 1;
}

.about .help {
    padding-top: 200px !important;
    top: -200px;
    position: relative;
}

.row_about .title::after,
.row_que_hacemos .title::after,
.help h2.title::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    margin: 15px 0;
}

.row_about .title::after,
.help h2.title::after {
    background: #ffd100;
}

.row_que_hacemos .title::after {
    background: #e43c2f;
}

.row_que_hacemos {
    color: #53535a;
}

.about .row_about,
.about .row_que_hacemos {
    height: 450px;
}

.about div {
    height: 100%;
}

.about img.position-absolute {
    width: 100%;
    left: 0;
}

.about .row_about .col-md-7 img.position-absolute {
    height: 100%;
    top: 0;
}

.about .row_about .col-md-5 img.position-absolute {
    /* height: 350px; */
    bottom: 0;
}

.about .row_que_hacemos .col-md-7 img.position-absolute {
    width: 100%;
    bottom: 0;
    height: 100%;
}

.help .header p {
    font-size: 20px;
}

.btn_donar {
    width: 140px;
    font-family: 'Nexa-Black', serif;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

/* Impact */
.impact h2 {
    color: #ec7623;
}

.impact .col-md-3 p {
    font-size: 22px;
    font-family: 'Nexa-Black', serif;
    line-height: 26px;
    margin-top: 18px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.impact .more-info {
    font-size: 1.2rem;
}

.testimonials {
    background: #ffd100;
    height: 400px;
}

.newsletter {
    background-image: url(../images/Home/Bg_Newsletter.png);
    background-size: cover;
    background-position: 0 0;
    height: 500px;
}

.newsletter input {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.newsletter .btn {
    position: absolute;
    right: 10px;
    background: #ec7623;
    color: #fff;
    border-radius: 30px;
    width: 140px;
}

/* Nosotros */
.mision_vision {
    margin-top: 120px;
}

.row_mision .col-md-5 {
    z-index: 1;
}

.row_vision {
    height: 260px;
    position: relative;
    top: -100px;
}

.valores .col-md-7 div {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.valores .col-md-7 div p {
    margin: 0;
}

.modelo_referencia {
    background: #d5cdcd;
}

.modelo_referencia .col-md-9 p,
.modelo_educativo .col-md-9 p {
    line-height: 25px;
    margin-bottom: 20px;
}

/* Galeria */
.galeria_eventos {
    margin-top: 140px;
    background: #d5cdcd;
}

.galeria_eventos ul li,
.galeria_colegios ul li {
    margin: 20px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.galeria_eventos ul li::after,
.galeria_colegios ul li::after {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    background: #ffd100;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50px;
}

.galeria_eventos .col-md-7 h2::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #ffd100;
    margin: 15px 0 40px 0;
}

.galeria_eventos .carousel-indicators,
.galeria_colegios .carousel-indicators {
    bottom: -40px;
}

.galeria_eventos .carousel-indicators li,
.galeria_colegios .carousel-indicators li {
    padding: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
}

.galeria_eventos .carousel-indicators li.active,
.galeria_colegios .carousel-indicators li.active {
    background: #fff;
}

/* Noticias */

.news {
    margin-top: 130px;
}

.news .more_info {
    width: 40px;
    margin: 20px;
    margin-left: auto;
    cursor: pointer;
}

.news .card {
    height: 600px;
}

.card_title {
    text-transform: uppercase;
    height: 80px;
}

/* Contact */
.contact {
    margin-top: 130px;
}

.contact .col-md-4 .bg_gray_dos,
.contact .col-md-4 .bg_red,
.contact .col-md-4 .bg_orange {
    height: 22%;
}

.contact .col-md-4 .bg_yellow {
    height: 34%;
}

.contact iframe {
    height: 400px;
    width: 100%;
    border: none;
}

.contact .col-md-4 .btn_donar {
    background: #ec7623;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.form-control {
    height: calc(2.2em + .75rem + 2px);
    background-color: rgba(255, 255, 255, 0.7);
}

.contact .btn-primary {
    margin-left: auto;
    display: block;
    background: #ec7623;
    border: none;
    width: 120px;
    border-radius: 30px;
    line-height: 20px;
}

/* Footer */
footer {
    background: #ed5b1a;
}

footer .logos {
    border-bottom: 3px solid #fff;
}

footer .logos img {
    width: 180px;
}

footer .links a {
    color: #fff;
}

footer .redes a {
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

footer .redes a.twitter {
    background-image: url(../images/Footer/Twitter.svg);
}

footer .redes a.facebook {
    background-image: url(../images/Footer/Facebook.svg);
}

footer .redes a.instagram {
    background-image: url(../images/Footer/instagram.svg);
}

footer .copyright a {
    color: #ffd100;
}

@media (max-width: 991px) {
    .contact iframe {
        height: 500px;
        width: 100%;
        border: none;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        width: 120px;
    }

    .nav-link {
        font-size: 22px;
    }

    .redes img {
        width: 30px;
    }

    h2.title {
        font-size: 1.6rem;
    }

    .home {
        background-position: center;
    }

    .home h2 {
        font-size: 30px;
    }

    .home h2 span {
        font-size: 40px;
        line-height: 35px;
    }

    .about div.bg_orange {
        height: auto;
        padding: 40px 10px;
    }

    .about h1 {
        font-size: 32px;
    }

    .about .bg_orange p {
        padding: 0 20px;
        font-size: 18px;
    }

    .about .box_about {
        top: 0;
    }

    .about .row_about,
    .about .row_que_hacemos,
    .about .row_about .col-md-5 img.position-absolute {
        height: auto;
    }

    .about .row_about .col-md-5 img.position-absolute,
    .about .row_about .col-md-7 img.position-absolute {
        position: relative !important;
    }

    .about .help {
        padding-top: 40px !important;
        top: 0;
    }

    .testimonials h3 {
        font-size: 22px;
    }

    .newsletter .btn {
        position: relative;
        right: 0px;
        width: 100%;
        margin: 15px 0;
    }

    /* Galería */
    .galeria_eventos ul li::after,
    .galeria_colegios ul li::after {
        left: 15px;
    }

    /* Nosotros */
    .row_vision {
        top: 0;
    }

    /* Contact */
    .contact .container {
        padding: 0;
    }

    .contact .col-md-4 .bg_gray_dos,
    .contact .col-md-4 .bg_red,
    .contact .col-md-4 .bg_orange {
        height: 100px;
    }

    .contact .col-md-4 .bg_yellow {
        height: 170px;
    }

    .contact form {
        padding: 0 15px;
    }

    footer .logos img {
        width: 100px;
    }

    footer .redes a {
        width: 32px;
        height: 32px;
    }

    footer .links a {
        text-align: center;
    }
}